html{
    background-color: whitesmoke;
    
    font-family: 'Jolly Lodger', cursive; 
}

.danger{
    color: red;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    height: 5em;
    background-color: black;
    padding-right: 50px;
}

.navbar-button{
    border: none;
    background-color: white;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1em;
}

.navbar-button:hover{
    color: #a61a0b;
    cursor: pointer;
}

.navbar-logo{
    height: 5em;
    width: 5em;
}

body{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
   }


a:hover{
    color: #a61a0b;
}