html{
    background-color: black;
    font-family: 'Jolly Lodger', cursive;
    height: 100%; 
}

.danger{
    color: red;
}

.four_o_four{
    font-size: 5em;
}

.not-found-page{
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    height: 7em;
    background-color: black;
    padding-right: 50px;
}


.navbar-button{
    border: none;
    background-color: #901d5f;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1em;
}

.navbar-button:hover{
    color: #19cdf4;
    cursor: pointer;
}

.navbar-logo{
    height: 7em;
    width: 7em;
    filter: brightness(50%) sepia(1) hue-rotate(132deg) saturate(103.3%) brightness(91.2%);
    -webkit-filter: brightness(50%) sepia(1) hue-rotate(140deg) saturate(200.3%) brightness(120%);
}

h1{
    color: #f63182;
    font-size: 48px;
}

h2{
    color: #f631a3;
    text-decoration: underline;
    font-size: 36px;
}

h3{
    color: #f63182;
    font-size: 30px;
}

h4{
    color: #18c2e7;
    font-size: 28px;
}

h5{
    color: #19cdf4;
    font-size: 32px;
}

p{
    color: #19cdf4;
    font-size: 24px;
}

body{
    text-align: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: #9d1f68;
    font-size: 18px;
   }


a:hover{
    color: #f631a3;
}