<h5>[<%= current_user.username %>]</h5>

<% if current_user.beats.length > 0 %>
	<h2>Beats:</h2>
    <form action='/upload' method='post'>
        <input type='hidden' value='patch' name='_method'>
        <input type="submit" value="Upload New Beat">
    </form>
    
    <ul>

        <% current_user.beats.each do |b| %>
            <li><a href='/beats/<%= b.id %>'><%= b.to_s %></a></li>
        <% end %>

    </ul>
<% else %>

    <h3>Nothing here yet. Start uploading now!</h3>
        <form action='/upload' method='post'>
            <input type='hidden' value='patch' name='_method'>
            <input type="submit" value="Upload New Beat">
        </form>

<% end %>

<%# <a href="#" class="myButton">Upload New Beat</a>

.myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:11px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:13px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
} %>
