<h5><%= current_user.username %></h5>
<% if current_user.beats.length > 0 %>
	<h2>Beats:</h2>
    <form action='/beats/new' method='get'>
        <input type="submit" value="Upload">
    </form>
    
    <ul>

        <% current_user.beats.each do |b| %>
            <li><a href='/beats/<%= b.id %>'><%= b.title %></a></li>
        <% end %>

    </ul>
<% else %>
	<h3>Nothing here yet. Start uploading now!</h3>
        <form action='/beats/new' method='get'>
            <input type="submit" value="Upload">
        </form>

<% end %>

