<h2>Update Track</h2>

<form action="/beats/<%= @beat.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="title">
    <select id="genre" name="genre"
        <% @genres = Genre.all %>
        <% @genres.each do |g| %>
            <option value="<%= g.name.downcase %>"><%= g.name %></option>
        <% end %>
    </select>
  <input type="submit" value="Update">
</form>

<form action="/beats/<%= @beat.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>