<form action='/beats' method="post">
    <input type="text" name="title" placeholder="Title">
    <select id="genre" name="genre_id"
        <% @genres = Genre.all %>
        <% @genres.each do |g| %>
            <option value="<%= g.name.downcase %>"><%= g.name %></option>
        <% end %>
    </select>
    <input type="submit" value="Upload">
</form>