<h3><%= @beat.title %></h3>
<h4>Produced By: <%= @beat.user.username %></h4>

<%# add soundcloud embed %>

<form action='/beats/<%= @beat.id %>/edit' method='get'>
  <input type="submit" value="Edit">
</form>

<form action="/beats/<%= @beat.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>