<div class="navbar">
    <img class="navbar-logo"src="https://i.ibb.co/MRx7CXf/IMG-0321.png" alt="Health Risk Records Logo" border="0">
    <a href='/dashboard'>Dashboard</a>
    <a href='/beats'>Beats</a>
    <a href='/account/edit'>Edit Account</a>
    <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="navbar-button" type="submit" value="Log Out">
    </form>
</div>