<div> class="navbar">
    <a href='/dashboard'>Dashboard</a>
    <a href='/beats'>Beats</a>
    <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="Logout"
    </form>
</div>