<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Health Risk Records</title>
</head>
<body>
    <div class="not-found-page">
        <h1 class="four_o_four">404</h1>
        <h4>Are you sure you're supposed to be here?</h4>
        <a href='/dashboard'>Health Risk Records</a>
    </div>
</body>
</html>